#header {
	background-color:black; 
	color:#FF6600;
	text-align:center;	
	text-position: bottom;
	padding:6px;
	position:relative;
	font-family:"Kristen ITC"
	}

#menu ul {
	list-style:none;
	margin:0px;
	padding:6px;
	overflow:auto;
	}

#menu li {
	font-family:"Kristen ITC";
	float:left;
	padding:15px 0 0 15px;
	}

#menu li a {
	display:table-cell;
	background-color:black;
	color:#FF9933;
	border-style:inset inset outset outset;
	text-align:center;
	padding:3px 16px;
	text-decoration:none;
	}
	
.article{
	text-align:left;
	padding:15px 0 0 20px;
	margin-top:auto;
	margin-left:25px;
	margin-right:auto;
	margin-bottom:auto;
	float:left
}

form {
	font-family:arial;
	padding:2% 2% 2% 2%;
	float:right;
	}

table {
	margin-bottom:2px;
	}
	
#myCarousel {
	margin-top:auto;
	}
	
footer {
	background-color:black;
	color:#FF6600;
	text-align:center;
	position:inherit;
	padding:0.5%;
	clear:both;
	}

footer a {
	margin:0 2% 0 2%;
	}

.item img {
	float:middle;
	height: 200px; width 100%;
	margin:29px 20px 0px 0px;
	border-radius: 1%;
	}

body {
	background-image:url('images/black dew wallpaper.jpg');
	}

.container {
 	padding:0px 0px;
 	width:100%;
 	height: 100%;
 	position:relative;
 	
 	}
 	
.item {
	height:40%;		
	}