.container {
	width: 100%;
}
.img {
	margin :5px;
	border : 1px solid#ccc;
	float :left;
	width: 180px;
	border-radius : 1%;
}
.img img {
	width :100px;
	height: :auto;
}
.menu {
	padding :15px;
	text-align:center;
}
footer {
	background-color:black;
	color:yellow;
	text-align:center;
	position:relative;
	padding:3%;
	clear:both;
}

.logo {
	float: right;
	position :relative;
	margin: 0.2%;
	border-radius : 18%;
}
